.article{
	&__title{
		&__wrap{
			display: flex;
			flex-direction: column;
			gap: 24px;
			max-width: 560px;
			margin: 0 auto;
			h1{
				@include titleH2;
				letter-spacing: -0.4px;
			}
		}
		&__info{
			display: flex;
			align-items: center;
			gap: 16px;
		}
	
	}
		&__socials{
			display: flex;
			align-items: center;
			gap: 16px;
			width: fit-content;
			a{
				min-height: 32px;
				min-width: 32px;
				width: 100%;
				height: 100%;
				max-height: 32px;
				max-width: 32px;
				aspect-ratio: 1/1;
			}
			.article__wrap &{
				flex-direction: column;
				position: sticky;
				left: 0;
				top: 120px;
				height: fit-content;
			}
		}
		&__wrap{
			display: flex;
			padding: 40px 0 60px 0;

		}
		&__content{
			max-width: 560px;
			width: 100%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			gap: 40px;
			color: $--Neutral-800;
			ul{
				list-style:disc;
				list-style-position: inside;
			}
			h3{
				@include titleH6;
			}
		}
}