.faq{
	padding: 60px 0 120px;
	&__container{
		max-width: 848px;
		margin: 0 auto;
	}
	&__title{
		h2{
			@include titleH2;
			letter-spacing: 1px;
			margin-bottom: 64px;
			text-align: center;
		}
			
	}
	&__search__wrap{
		margin-bottom: 24px;
		form{
			max-width: 400px;
				width: 100%;
			div {
				position: relative;
				input{
					padding: 12px 48px 12px 16px ;
				border-radius: 4px;
				border: 1px solid $--Neutral-500;
				background-color: $--white;
				outline: none;
				width: 100%;
				font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 24px;
					color: $--Neutral-600;
				&::placeholder{
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 24px;
					color: $--Neutral-600;
					opacity: 1;
				}
				&:active,
				&:focus{
					border-color: $--Neutral-800;
				}
				}
				&:after{
					content: '';
					width: 24px;
					height: 24px;
					position: absolute;
					top: 0;
					right: 16px;
					transform: translateY(50%);
					background: url('../images/search\).svg') center center / cover no-repeat;
				}
			}
		}
		a{
			display: flex;
			gap: 8px;
			align-items: center;
			width: fit-content;
			@include p1;
			color: $--Neutral-800;
			transition: .3s linear;
			&:hover{
				color: $--Accent-100;
				svg path{
					fill: $--Accent-100;
				}
			}
			svg{
				min-width: 24px;
				height: 24px;
				path{
					transition: .3s linear;
				}

			}
		}
	}
	&__item{
		padding: 23px;
		border-bottom: 1px solid $--Neutral-500;
		border-right: 1px solid $--Neutral-500;
		border-left: 1px solid $--Neutral-500;
		&:nth-of-type(1){
			border: 1px solid $--Neutral-500;
		}
		&:hover{
			background-color: $--Neutral-400;
		}
		&.active{
			background-color: $--Neutral-400;
			.faq-icon-wrapper {
				svg{
					transform: rotate(180deg);
				
				}
			}
		}
		&__top{
			display: flex;
			gap: 20px;
			align-items: center;
			justify-content: space-between;
			transition: .3s linear;
			@include titleH6;
		}
			&-bottom{
				@include p1;
				color: $--Neutral-800;
				&-wrap{
					display: flex;
					flex-direction: column;
					gap: 16px;
					a{
						text-decoration: underline;
						transition: .3s linear;
						&:hover{
							color: $--Accent-100;
						}
						&:active{
							color: $--Accent-200;
						}
					}
				}
			}
	}
	&-icon-wrapper{
		border-radius: 500px;
		background-color: transparent;
		min-width: 24px;
		min-height: 24px;
		max-width: 24px;
		max-height: 24px;
		position: relative;
		transition: .3s linear;
		display: flex;
		align-items: center;
		justify-content: center;
			
		svg{
			width: 12px;
			height: 8px;
			transition: .3s linear;			
		}
	
	}
}