.header{
	z-index: 50;
	position: relative;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $--white;
border-bottom: 1px solid $--Neutral-500;
	&__wrap{
		display: flex;
		align-items: center;
		gap: 40px;
		position: relative;
	}
	&__menu{
		display: flex;
		align-items: center;
		gap: 20px;
		width: fit-content;
		@media screen and (min-width:1024px) {
			justify-content: space-between;
		}

		nav{
			 ul{
				display: flex;
				flex-direction: column;
				gap: 24px;
		
				&:not(.sub-menu){
					@media screen and (min-width:768px) {
					flex-direction: row;
				}
				}
				li{
					position: relative;
					&:not(.sub-menu li){
						@media screen and (min-width:768px) {
							padding: 24px 0;
						}
						
					}
				
					a{
						position: relative;
						transition: .3s ease-in-out;					
						&:hover{
							color: $--accent-color;
						}
					}
					&:has(ul){
						display: flex;
						flex-direction: column;
						position: relative;
						gap: 28px;
					
						@media screen  and (min-width:768px){
							gap: 10px;
							align-items: center;
							flex-direction: row;
							
							&:after{
								content: '';
								width: 24px;
								height: 24px;
								transition: .3s ease-in-out;
								background: url(../images/arrow-down.svg) center center / 100% no-repeat;
							
							}
								&:hover{
								&:after{
									transform: rotate(180deg);
								}
								& .sub-menu{
									z-index:10 ;
										max-height: 5000px;
										margin-top: -20px;
										transition: all 300ms linear;
										will-change: opacity, max-height, margin-top;
										opacity: 1;
										visibility: visible;
										border-radius: 8px;
								}
						}
						}
					}
				}
				&.sub-menu{
					display: flex;
					flex-direction: column;
					background: $--white;
					box-shadow: 0px 4px 12px 0px rgba(16, 10, 41, 0.12);
					gap: 0;
					li{
						display: flex;
						gap: 10px;
						align-items: center;
						
						a{
							width: max-content;
							transition: .3s ease-in-out;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: 20px; 
							padding: 10px 12px;
							width: 100%;
							border-radius: 4px;
							&:hover{
								color: $--Neutral-800;
								background: $--Neutral-400;
							}
						}					
					}
					@media screen and (min-width:768px) {
						padding: 8px;
						position: absolute;
						top: calc(100% + 10px);
						right: 0;
						min-width: fit-content;
						max-width: 240px;
						visibility: hidden;
						margin-top: 0px;
						opacity: 0;
						max-height: 0;
						overflow: hidden;
						will-change: opacity, max-height;
						transition: opacity 300ms linear, max-height 300ms linear, margin-top 300ms linear;	
					}
				}
			 }
		}
	}
	&__btns{
		margin-left: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 12px;
		.btn{
			padding: 7px 15px 7px 31px;
		}
		.btn.secondary-btn{
			padding: 9px 23px;
		}
	}
}
