@mixin titleH1{
	font-family: 'PlusJakartaSans', sans-serif;
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 60px; 
	letter-spacing: 2px;
	text-transform: capitalize;
	letter-spacing: -0.48px;
	color: $--Neutral-800;
}
@mixin titleH2{
font-family: 'PlusJakartaSans', sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 48px; /* 120% */
letter-spacing: -0.4px;
text-transform: capitalize;
color: $--Neutral-800;
}
@mixin titleH3{
font-family: 'PlusJakartaSans',sans-serif;
font-size: 22px;
font-weight: 600;
line-height: 30px; /* 136.364% */
text-transform: capitalize;
color: $--Neutral-800;
}
@mixin titleH4{
	font-family: 'Livvic',sans-serif;
	font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 136.364% */
text-transform: capitalize;
color: $--Neutral-800;
}
@mixin titleH5{
font-family: 'PlusJakartaSans', sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 136.364% */
text-transform: capitalize;
color: $--Neutral-800;
}
@mixin titleH6{
	font-family: 'PlusJakartaSans', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 144.444% */
text-transform: capitalize;
color: $--Neutral-800;
}
@mixin p1{
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	font-family: 'Figtree', sans-serif;
}

