@font-face {
	font-family: 'Livvic';
	src: url(../fonts/Livvic-SemiBold.ttf);
	font-weight: 600;
}
@font-face {
	font-family: 'Livvic';
	src: url(../fonts/Livvic-Bold.ttf);
	font-weight: 700;
}
@font-face {
	font-family: 'Figtree';
	src: url(../fonts/Figtree-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: 'Figtree';
	src: url(../fonts/Figtree-Medium.ttf);
	font-weight: 500;
}
@font-face {
  font-family: "PlusJakartaSans-Italic";
  src: url(../fonts/PlusJakartaSans-Italic.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url(../fonts/PlusJakartaSans-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url(../fonts/PlusJakartaSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Funnel";
  src: url(../fonts/Funnel.ttf);
  font-weight: 500;
}


$--white: #fff;
$--Neutral-800: #100A29; 
$--Neutral-700: rgba(16, 10, 41, 0.75);
$--Neutral-400: rgba(16, 10, 41, 0.04);
$--Neutral-300: rgba(255, 255, 255, 0.05);
$--Neutral-500: rgba(16, 10, 41, 0.15);
$--Neutral-200: rgba(255, 255, 255, 0.20);
$--Neutral-50: rgba(255, 255, 255, 0.75);
$--Neutral-100:  rgba(255, 255, 255, 0.50);
$--Neutral-600:  rgba(16, 10, 41, 0.50);
$--blue:#005687;
$--orange:#FF8368; 
$--Accent-50: #FFEEE5;
$--Accent-100: #FF532F;
$--accent-color:#DC3815;
$--accent-color-light:#FF8368;
$--Accent-200: #D94728;
$--Primary-200: #00598C;
$--sds-size-space-1600: 64px;

html.open{
	overflow: hidden;
}
.container{
	max-width: 1320px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}
body{
	font-family:'Figtree', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: $--Neutral-700;
}

.btn{
		color: $--white;
		display: flex;
		padding: 11px 31px;
		justify-content: center;
		align-items: center;
		gap: 8px;
		border-radius: 4px;
		flex-shrink: 0;
		transition: .3s linear;
		max-width: fit-content;
		width: 100%;
		background-color: $--Primary-200;
		color: $--white;
		font-family: "Figtree", sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 24px; 
		text-transform: capitalize;
		border: 1px solid transparent;
		svg{
			path{
				transition: .3s linear;
			}
		}
	&:hover{
		background-color: $--white;		
		border-color: $--Neutral-500;
		color: $--Neutral-800;
		svg path{
			fill:$--Neutral-800;
		}
	}
	&:disabled{
		border: none;
		border-radius: 4px;
		text-decoration: underline;
	}
	&.btn-secondary{
		background-color: $--white;
  color: $--Neutral-800;
  border-color: $--Neutral-500;
	}
}

.secondary-btn{
	background-color: $--white;
	color: $--Neutral-800;
	border-color: $--Neutral-500;
	padding: 8px 23px;
	&:hover{
		background-color: $--Neutral-800;		
		border-color: transparent;
		color: $--white;
	}
}
.accent-btn{
	color: $--white;
	border-color: transparent;
	padding: 11px 31px;
	border-radius: 4px;
	font-weight: 400;
	&:hover{
		background-color:$--Neutral-800;	
		border-color: transparent;
		color: $--white;
	}
}

.logo{
	display: block;
	& img{
		max-width: 100%;
		width: 100%;
		height: fit-content;
	}
}

.pb-l{
	padding: 140px 0;
}
.pb-m{
	padding: 100px 0;
}
.pb-s{
padding: 80px 0;
}
.pb-xs{
padding: 60px 0;
}

.center-title{
	max-width: fit-content;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	h2{
		@include titleH2;
	}
}
.simple{
	display: flex;
	padding: 7px 15px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 100px;
	width: fit-content;
	border: 1px solid $--Neutral-500;
	background: $--white;
	color: $--accent-color;
	text-align: center;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height:  16px;
	letter-spacing: 0.24px;
	text-transform: uppercase;
	margin-bottom: 24px;
}
.justify-title{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
	h2{
		@include titleH2;
		width: 50%;
	}
	p{
		width: calc(50% - 24px);
		@include p1;
	}
}
.page__title{
	padding: 64px 0;
	h1{
		@include titleH1;
	}
}
blockquote{
	@include titleH5;
	max-width: 608px;
	margin: 0 auto;
	text-align: center;
}
.grey{
		display: flex;
			max-width: 100px;
			max-height: 100px;
			width: 100%;
			height: 100%;
			aspect-ratio: 1;
			padding: 30px 32px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 8px;
			border-radius: 24px;
			background: $--Neutral-400;
			color: #000;
			text-align: center;
			font-size: 32px;
			font-style: normal;
			font-weight: 600;
			line-height: 40px; /* 125% */
			letter-spacing: -0.32px;
			text-transform: capitalize;
}
.dropdown {
	 position: relative;
	 cursor: pointer;
}
 .dropdown-list {
	 display: flex;
	 flex-direction: column;
	 background: #fff;
	 box-shadow: 0px 4px 8px 3px #000 26;
	 border-radius: 4px;
	 gap: 0;
	 padding: 8px;
	 position: absolute;
	 top: calc(100%);
	 left: 0;
	 min-width: fit-content;
	 max-width: 240px;
	 visibility: hidden;
	 margin-top: 0px;
	 opacity: 0;
	 max-height: 0;
	 overflow: hidden;
	 will-change: opacity, max-height;
	 transition: opacity 300ms linear, max-height 300ms linear, margin-top 300ms linear;
	 align-items: flex-start;
}
 .dropdown-list ul, .dropdown-list ul a {
	 width: 100%;
}
 .dropdown-list li a {
	 width: -moz-max-content;
	 width: max-content;
   min-width: 320px;
	 transition: 0.3s ease-in-out;
	 font-size: 14px;
	 font-style: normal;
	 font-weight: 400;
	 line-height: 20px;
	 padding: 10px 12px;
	 width: 100%;
	 border-radius: 4px;
	 display: flex;
	 color: #100a29;
}
 .dropdown-list li:hover a {
	 color: #100a29;
	 background: rgba(16, 10, 41, 0.04);
}
 .dropdown:hover .dropdown-list {
	 z-index: 10;
	 max-height: 5000px;
	 transition: all 300ms linear;
	 will-change: opacity, max-height, margin-top;
	 opacity: 1;
	 visibility: visible;
	 border-radius: 8px;
	 min-width: 200px;
}
 .dropdown svg {
	 transition: all 0.5s;
}
 .dropdown:hover svg {
	 transform: rotate(180deg);
}
.grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	margin-bottom: 64px;
}
 .simple-block{
	display: flex;
	flex-direction: column;
	text-align: left;
	padding-right: 24px;
	div{
	color: #000;
	text-align: center;
	font-family: 'Inter';
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 40px; 
	letter-spacing: -0.32px;
	text-transform: capitalize;
	margin-bottom: 24px;
	width: fit-content;
	}
	h3{
		@include titleH5;
		margin-bottom: 8px;
	}

 }