@font-face {
	font-family: 'Livvic';
	src: url(../fonts/Livvic-SemiBold.ttf);
	font-weight: 600;
}
@font-face {
	font-family: 'Livvic';
	src: url(../fonts/Livvic-Bold.ttf);
	font-weight: 700;
}
@font-face {
	font-family: 'Figtree';
	src: url(../fonts/Figtree-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: 'Figtree';
	src: url(../fonts/Figtree-Medium.ttf);
	font-weight: 500;
}



$--white: #fff;
$--Neutral-800: #100A29; 
$--Neutral-700: rgba(16, 10, 41, 0.75);
$--Neutral-400: rgba(16, 10, 41, 0.04);
$--Neutral-300: rgba(255, 255, 255, 0.05);
$--Neutral-500: rgba(16, 10, 41, 0.15);
$--Neutral-200: rgba(255, 255, 255, 0.20);
$--Neutral-50: rgba(255, 255, 255, 0.75);
$--Neutral-100:  rgba(255, 255, 255, 0.50);
$--Neutral-600:  rgba(16, 10, 41, 0.50);
$--blue:#005687;
$--orange:#FF8368; 
$--Accent-50: #FFEEE5;
$--Accent-100: #FF532F;
$--accent-color:#DC3815;
$--accent-color-light:#FF8368;
$--Accent-200: #D94728;


html.open{
	overflow: hidden;
}
.container{
	max-width: 1320px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}
body{
	font-family:'Figtree', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: $--Neutral-700;
}

.btn{
		color: $--white;
		display: flex;
		padding: 11px 31px;
		justify-content: center;
		align-items: center;
		gap: 8px;
		border-radius: 4px;
		flex-shrink: 0;
		transition: .3s linear;
		max-width: fit-content;
		width: 100%;
		background-color: $--Neutral-800;
		color: $--white;
		font-family: "Figtree", sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 24px; 
		text-transform: capitalize;
		border: 1px solid transparent;
		svg{
			path{
				transition: .3s linear;
			}
		}
	&:hover{
		background-color: $--white;		
		border-color: $--Neutral-500;
		color: $--Neutral-800;
		svg path{
			fill:$--Neutral-800;
		}
	}
	&:disabled{
		border: none;
		border-radius: 4px;
		text-decoration: underline;
	}
}

.secondary-btn{
	background-color: $--white;
	color: $--Neutral-800;
	border-color: $--Neutral-500;
	padding: 8px 23px;
	&:hover{
		background-color: $--Neutral-800;		
		border-color: transparent;
		color: $--white;
	}
}
.accent-btn{
	background-color: $--accent-color;
	color: $--white;
	border-color: transparent;
	padding: 11px 31px;
	border-radius: 4px;
	&:hover{
		background-color:$--Neutral-800;	
		border-color: transparent;
		color: $--white;
	}
}

.logo{
	display: block;
	& img{
		max-width: 100%;
		width: 100%;
		height: fit-content;
	}
}

.pb-m{
	padding: 100px 0;
}
.pb-s{
padding: 80px 0;
}
.pb-xs{
padding: 60px 0;
}

.center-title{
	max-width: fit-content;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	h2{
		@include titleH2;
	
	}
}
.simple{
	display: flex;
	padding: 7px 15px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 100px;
	width: fit-content;
	border: 1px solid $--Neutral-500;
	background: $--white;
	color: $--accent-color;
	text-align: center;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height:  16px;
	letter-spacing: 0.24px;
	text-transform: uppercase;
	margin-bottom: 24px;
}
.justify-title{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
	h2{
		@include titleH2;
		width: 50%;
	}
	p{
		width: calc(50% - 24px);
		@include p1;
	}
}
.page__title{
	padding: 64px 0;
	h1{
		@include titleH1;
	}
}
blockquote{
	@include titleH5;
	max-width: 608px;
	margin: 0 auto;
	text-align: center;
}
.grey{
		display: flex;
			max-width: 100px;
			max-height: 100px;
			width: 100%;
			height: 100%;
			aspect-ratio: 1;
			padding: 30px 32px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 8px;
			border-radius: 24px;
			background: $--Neutral-400;
			color: #000;
			text-align: center;
			font-size: 32px;
			font-style: normal;
			font-weight: 600;
			line-height: 40px; /* 125% */
			letter-spacing: -0.32px;
			text-transform: capitalize;
}