/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul[class],
ol[class] {
  list-style: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
}

@font-face {
  font-family: "Livvic";
  src: url(../fonts/Livvic-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Livvic";
  src: url(../fonts/Livvic-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Figtree";
  src: url(../fonts/Figtree-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Figtree";
  src: url(../fonts/Figtree-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "PlusJakartaSans-Italic";
  src: url(../fonts/PlusJakartaSans-Italic.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url(../fonts/PlusJakartaSans-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url(../fonts/PlusJakartaSans-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Funnel";
  src: url(../fonts/Funnel.ttf);
  font-weight: 500;
}
html.open {
  overflow: hidden;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(16, 10, 41, 0.75);
}

.btn {
  color: #fff;
  display: flex;
  padding: 11px 31px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  flex-shrink: 0;
  transition: 0.3s linear;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  background-color: #00598C;
  color: #fff;
  font-family: "Figtree", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: 1px solid transparent;
}
.btn svg path {
  transition: 0.3s linear;
}
.btn:hover {
  background-color: #fff;
  border-color: rgba(16, 10, 41, 0.15);
  color: #100A29;
}
.btn:hover svg path {
  fill: #100A29;
}
.btn:disabled {
  border: none;
  border-radius: 4px;
  text-decoration: underline;
}
.btn.btn-secondary {
  background-color: #fff;
  color: #100A29;
  border-color: rgba(16, 10, 41, 0.15);
}

.secondary-btn {
  background-color: rgba(255, 255, 255, 0.5);
  color: #100A29;
  border-color: rgba(16, 10, 41, 0.25);
  padding: 8px 23px;
}
.secondary-btn:hover {
  background-color: #100A29;
  border-color: transparent;
  color: #fff;
}

.promo-btn {
  border: 1px solid rgba(16, 10, 41, 0.5);
  background: rgba(255, 255, 255, 0.5);
  color: #100A29;
}

.accent-btn {
  color: #fff;
  border-color: transparent;
  padding: 11px 31px;
  border-radius: 4px;
  font-weight: 400;
}
.accent-btn:hover {
  background-color: #100A29;
  border-color: transparent;
  color: #fff;
}

.logo {
  display: block;
}
.logo img {
  max-width: 100%;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.pb-l {
  padding: 140px 0;
}

.pb-m {
  padding: 100px 0;
}

.pb-s {
  padding: 80px 0;
}

.pb-xs {
  padding: 60px 0;
}

.center-title {
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-title h2 {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 120% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
  color: #100A29;
}

.simple {
  display: flex;
  padding: 7px 15px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid rgba(16, 10, 41, 0.15);
  background: #fff;
  color: #DC3815;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.justify-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.justify-title h2 {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 120% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
  color: #100A29;
  width: 50%;
}
.justify-title p {
  width: calc(50% - 24px);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-family: "Figtree", sans-serif;
}

.page__title {
  padding: 64px 0;
}
.page__title h1 {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 2px;
  text-transform: capitalize;
  letter-spacing: -0.48px;
  color: #100A29;
}

blockquote {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 136.364% */
  text-transform: capitalize;
  color: #100A29;
  max-width: 608px;
  margin: 0 auto;
  text-align: center;
}

.grey {
  display: flex;
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  padding: 30px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  background: rgba(16, 10, 41, 0.04);
  color: #000;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
  letter-spacing: -0.32px;
  text-transform: capitalize;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 4px 8px 3px #000 26px;
  border-radius: 4px;
  gap: 0;
  padding: 8px;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 240px;
  visibility: hidden;
  margin-top: 0px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  will-change: opacity, max-height;
  transition: opacity 300ms linear, max-height 300ms linear, margin-top 300ms linear;
  align-items: flex-start;
}

.dropdown-list ul, .dropdown-list ul a {
  width: 100%;
}

.dropdown-list li a {
  width: -moz-max-content;
  width: max-content;
  min-width: 320px;
  transition: 0.3s ease-in-out;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 10px 12px;
  width: 100%;
  border-radius: 4px;
  display: flex;
  color: #100a29;
}

.dropdown-list li:hover a {
  color: #100a29;
  background: rgba(16, 10, 41, 0.04);
}

.dropdown:hover .dropdown-list {
  z-index: 10;
  max-height: 5000px;
  transition: all 300ms linear;
  will-change: opacity, max-height, margin-top;
  opacity: 1;
  visibility: visible;
  border-radius: 8px;
  min-width: 200px;
}

.dropdown svg {
  transition: all 0.5s;
}

.dropdown:hover svg {
  transform: rotate(180deg);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px 40px;
  margin-bottom: 64px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-right: 24px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.grid-item div {
  margin-bottom: 24px;
}
.grid-item h3 {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 136.364% */
  text-transform: capitalize;
  color: #100A29;
  margin-bottom: 8px;
}

.simple-block {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-right: 24px;
}
.simple-block div {
  color: #000;
  text-align: center;
  font-family: "Inter";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.32px;
  text-transform: capitalize;
  margin-bottom: 24px;
  width: -moz-fit-content;
  width: fit-content;
}
.simple-block h3 {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 136.364% */
  text-transform: capitalize;
  color: #100A29;
  margin-bottom: 8px;
}

.explore {
  padding: 120px 0 60px 0;
}
.explore__title {
  margin-bottom: 64px;
}
.explore__title h2 {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 120% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
  color: #100A29;
}

.why__title {
  margin-bottom: 56px;
}
.why__title h2 {
  margin-bottom: 12px;
}
.why__title p {
  font-weight: 500;
}

.why__items {
  margin-bottom: 0;
}
.why__items .grid-item {
  padding: 0;
}

.faq__search__wrap form {
  max-width: 400px;
  width: 100%;
}
.faq__search__wrap form div {
  position: relative;
}
.faq__search__wrap form div input {
  padding: 12px 48px 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(16, 10, 41, 0.15);
  background-color: #fff;
  outline: none;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: rgba(16, 10, 41, 0.5);
}
.faq__search__wrap form div input::-moz-placeholder {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: rgba(16, 10, 41, 0.5);
  opacity: 1;
}
.faq__search__wrap form div input::placeholder {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: rgba(16, 10, 41, 0.5);
  opacity: 1;
}
.faq__search__wrap form div input:active, .faq__search__wrap form div input:focus {
  border-color: #100A29;
}
.faq__search__wrap form div:after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 16px;
  transform: translateY(50%);
  background: url("../images/search).svg") center center/cover no-repeat;
}

.news__search {
  max-width: 400px;
  width: 100%;
}
.news__search form {
  width: 100%;
}
.news__search form div {
  position: relative;
}
.news__search form div input {
  padding: 12px 12px 12px 48px;
  border-radius: 4px;
  border: 1px solid rgba(16, 10, 41, 0.15);
  background-color: #fff;
  outline: none;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: rgba(16, 10, 41, 0.5);
}
.news__search form div input::-moz-placeholder {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: rgba(16, 10, 41, 0.5);
  opacity: 1;
}
.news__search form div input::placeholder {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: rgba(16, 10, 41, 0.5);
  opacity: 1;
}
.news__search form div input:active, .news__search form div input:focus {
  border-color: #100A29;
}
.news__search form div:after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 16px;
  transform: translateY(50%);
  background: url("../images/search).svg") center center/cover no-repeat;
}

.accord {
  display: flex;
  flex-direction: column;
}

.accord-item {
  max-width: 100%;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s linear;
}
.accord-item-top {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
  transition: 0.3s linear;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 367px) {
  .accord-item-top {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    white-space: pre-wrap;
  }
}
.accord-item-bottom {
  margin-top: 0;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  will-change: opacity, max-height;
  transition: opacity 300ms linear, max-height 300ms linear, margin-top 300ms linear;
}

.icon-wrapper {
  position: relative;
  margin-left: auto;
}

.accord-item.active .accord-item-bottom {
  max-height: 5000px;
  margin-top: 24px;
  transition: all 200ms linear;
  will-change: opacity, max-height, margin-top;
  opacity: 1;
}

.header {
  z-index: 50;
  position: relative;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid rgba(16, 10, 41, 0.15);
}
.header__wrap {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 20px;
  width: -moz-fit-content;
  width: fit-content;
}
.header__menu nav ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.header__menu nav ul:not(.sub-menu) {
  flex-direction: row;
}
.header__menu nav ul li {
  position: relative;
}
.header__menu nav ul li:not(.sub-menu li) {
  padding: 24px 0;
}
.header__menu nav ul li a {
  position: relative;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}
.header__menu nav ul li a:hover {
  color: #DC3815;
}
.header__menu nav ul li:has(ul) {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 4px;
  align-items: center;
  flex-direction: row;
}
.header__menu nav ul li:has(ul):after {
  content: "";
  width: 24px;
  height: 24px;
  transition: 0.3s ease-in-out;
  background: url(../images/arrow-down.svg) center center/8px no-repeat;
  border-radius: 4px;
}
.header__menu nav ul li:has(ul):hover:after {
  transform: rotate(180deg);
}
.header__menu nav ul li:has(ul):hover .sub-menu {
  z-index: 10;
  max-height: 5000px;
  margin-top: -20px;
  transition: all 300ms linear;
  will-change: opacity, max-height, margin-top;
  opacity: 1;
  visibility: visible;
  border-radius: 8px;
}
.header__menu nav ul.sub-menu {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 4px 12px 0px rgba(16, 10, 41, 0.12);
  gap: 0;
  padding: 8px;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  min-width: 320px;
  max-width: 320px;
  visibility: hidden;
  margin-top: 0px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  will-change: opacity, max-height;
  transition: opacity 300ms linear, max-height 300ms linear, margin-top 300ms linear;
}
.header__menu nav ul.sub-menu li {
  display: flex;
  gap: 10px;
  align-items: center;
  white-space: nowrap;
}
.header__menu nav ul.sub-menu li a {
  width: -moz-max-content;
  width: max-content;
  transition: 0.3s ease-in-out;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 10px 12px;
  width: 100%;
  border-radius: 4px;
}
.header__menu nav ul.sub-menu li a:hover {
  color: #100A29;
  background: rgba(16, 10, 41, 0.04);
}
.header__btns {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.header__btns .btn {
  padding: 7px 15px 7px 31px;
  font-size: 14px;
  line-height: 20px;
}
.header__btns .btn.secondary-btn {
  padding: 9px 23px;
}

.hero {
  background: #FFFBFA;
}
.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
}
.hero__content {
  width: calc(50% - 40px);
  position: relative;
}
.hero__content h1 {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 2px;
  text-transform: capitalize;
  letter-spacing: -0.48px;
  color: #100A29;
  margin-bottom: 24px;
  color: #100A29;
  z-index: 1;
  position: relative;
  text-wrap-style: balance;
}
.hero__content h1:after {
  content: "";
  max-width: 168px;
  max-height: 53px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 3px;
  top: 5px;
  background: url("../images/hero-svg.svg") center center/contain no-repeat;
  z-index: -1;
}
.hero__content p {
  color: rgba(16, 10, 41, 0.75);
  font-family: "PlusJakartaSans";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.hero__content p:nth-last-of-type(1) {
  margin-bottom: 64px;
}
.hero__content .btn {
  font-weight: 500;
}
.hero__btns {
  display: flex;
  align-items: center;
  gap: 24px;
}
.hero__btns .secondary-btn {
  background-color: rgba(255, 255, 255, 0.5);
  color: #100A29;
  border-color: rgba(16, 10, 41, 0.25);
  padding: 8px 23px;
  padding: 12px 32px;
}
.hero__btns .secondary-btn:hover {
  background-color: #100A29;
  border-color: transparent;
  color: #fff;
}
.hero__img {
  width: calc(50% - 32px);
  max-width: 608px;
  max-height: 460px;
  border-radius: 32px 20px 20px 20px;
}
.hero__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}

.about {
  padding-bottom: 0;
  padding-top: 80px;
}
.about__container {
  display: flex;
  gap: 80px;
}
@media screen and (min-width: 1024px) {
  .about__content {
    width: calc(50% - 40px);
  }
}
.about__content h2 {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 120% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
  color: #100A29;
  margin-bottom: 16px;
  letter-spacing: 0px;
}
.about__content p:not(:nth-last-of-type(1)) {
  margin-bottom: 29px;
}
.about__list {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 1024px) {
  .about__list {
    width: calc(50% - 40px);
  }
}
.about__list__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.about__list__item span {
  color: #DC3815;
  font-family: "Livvic", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 128.571%;
  letter-spacing: -1.68px;
}

.guard__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}
.guard__title h2 {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 120% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
  color: #100A29;
  margin-bottom: 12px;
  letter-spacing: -0.4px;
}
.guard__title p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-family: "Figtree", sans-serif;
}
.guard__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.guard__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}
.guard__item:nth-child(3n+1)::after, .guard__item:nth-child(3n+2)::after {
  content: "";
  position: absolute;
  max-width: 164px;
  width: 40%;
  height: 27px;
  right: -100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.guard__item:nth-child(3n+1):after {
  top: 25px;
  background-image: url(../images/Arrow.svg);
}
.guard__item:nth-child(3n+2)::after {
  top: 56px;
  background-image: url(../images/Arrow2.svg);
}
.guard__item__icon {
  margin-bottom: 24px;
}
.guard__item h3 {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px; /* 136.364% */
  text-transform: capitalize;
  color: #100A29;
  letter-spacing: 1px;
  color: #100A29;
  margin-bottom: 8px;
}

.risk {
  background: linear-gradient(to right, #005687 0%, #005687 50%, rgba(16, 10, 41, 0.031372549) 50%, rgba(16, 10, 41, 0.031372549) 100%);
  color: #fff;
}
.risk__container {
  display: flex;
  justify-content: space-between;
}
.risk__container .simple {
  background: rgba(255, 255, 255, 0.1019607843);
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  color: #fff;
}
.risk__content {
  width: calc(50% - 80px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.risk__content img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 367.46px;
  max-height: 341.891px;
  width: 100%;
  height: 100%;
}
.risk__content div {
  margin-top: auto;
  font-family: "Funnel", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 120% */
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 10px;
}
.risk__content div strong {
  color: #FF8368;
  font-weight: inherit;
}
.risk__form {
  width: calc(50% - 80px);
  padding: 40px;
  border-radius: 4px;
}
.risk__form p {
  color: rgba(16, 10, 41, 0.75);
}
.risk__form p strong {
  color: #DC3815;
}
.risk__form form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}
.risk__form form .form__wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.risk__form form .form__wrap:nth-last-of-type(1) {
  margin-bottom: 11px;
}
.risk__form form label {
  color: #100A29;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.risk__form form input {
  border-radius: 4px;
  border: 1px solid rgba(16, 10, 41, 0.15);
  background: #fff;
  min-height: 48px;
  padding: 0 15px;
}
.risk__form form .btn {
  padding: 11px 29px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.solutions__title {
  margin-bottom: 56px;
}
.solutions__title h2 {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 120% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
  color: #100A29;
}
.solutions__items {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.solutions__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aspect-ratio: 1.016/1.001;
  width: calc(33.3333333333% - 11px);
  padding: 22px 22px 31px 22px;
  border-radius: 4px;
  border: 1px solid rgba(16, 10, 41, 0.15);
  transition: 0.3s linear;
  gap: 144px;
  position: relative;
}
.solutions__item:hover {
  background-color: #FFEEE5;
  transform: translateY(-16px);
}
.solutions__item svg {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
}
.solutions__item__img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  border-radius: 24px;
  border: 1px solid rgba(16, 10, 41, 0.15);
  margin-bottom: auto;
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  height: 100%;
}
.solutions__item__img svg {
  max-width: 32px;
  max-height: 32px;
  width: 100%;
  height: 100%;
}
.solutions__item__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.solutions__item__content h3 {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 136.364% */
  text-transform: capitalize;
  color: #100A29;
  font-style: normal;
}

.reviews {
  background-color: rgba(16, 10, 41, 0.04);
}
.reviews__title {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 56px;
}
.reviews__title h2 {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 120% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
  color: #100A29;
  margin-bottom: 12px;
}
.reviews__items {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.reviews__item {
  width: calc(33.3333333333% - 27px);
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: auto;
  position: relative;
}
.reviews__item__img {
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  top: -20px;
  right: -10px;
}
.reviews__item__content {
  padding: 16px 24px;
  background: rgba(16, 10, 41, 0.0392156863);
}
.reviews__item__content span {
  margin-bottom: 8px;
  display: inline-block;
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 144.444% */
  text-transform: capitalize;
  color: #100A29;
}
.reviews__item__rating {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: auto;
}
.reviews__item__rating svg {
  max-width: 32px;
  max-height: 32px;
  width: 100%;
  height: 100%;
}
.reviews__item__info span {
  font-family: "PlusJakartaSans", sans-serif;
  color: #100A29;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  display: inline-block;
  margin-bottom: 4px;
}
.reviews__item__info div {
  color: rgba(16, 10, 41, 0.75);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.14px;
}

.promo {
  background-color: #FF8368;
}
.promo__container {
  display: flex;
  position: relative;
  padding: 30px 0;
}
.promo__img {
  width: 50%;
}
.promo__img img {
  width: 100%;
  height: 100%;
  max-width: 561px;
  max-height: 340px;
  margin-left: auto;
}
.promo__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  padding: 50px 0;
}
.promo__content div:not([class]) {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 120% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
  color: #100A29;
  margin-bottom: 12px;
  letter-spacing: -0.4px;
}
.promo__content p {
  color: rgba(16, 10, 41, 0.75);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.18px;
}
.promo__content p:nth-last-of-type(1) {
  margin-bottom: auto;
}
.promo__btns {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer {
  border-top: 1px solid rgba(16, 10, 41, 0.04);
  background: rgba(16, 10, 41, 0.04);
  color: #100A29;
}
.footer__wrapper {
  display: flex;
  gap: 80px;
  padding: 64px 0;
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 400px;
  width: 100%;
}
.footer__info p {
  margin-bottom: 24px;
}
.footer .logo {
  width: 100%;
  height: 100%;
  max-width: 82px;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.footer__form {
  width: 100%;
}
.footer__form form {
  width: 100%;
}
.footer__form form input:not([type=submit]) {
  width: 100%;
  padding: 12px 48px 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(16, 10, 41, 0.5);
  outline: none;
  color: rgba(16, 10, 41, 0.75);
}
.footer__form form input:not([type=submit]) ::-moz-placeholder {
  color: rgba(16, 10, 41, 0.75);
  opacity: 1;
}
.footer__form form input:not([type=submit]) ::placeholder {
  color: rgba(16, 10, 41, 0.75);
  opacity: 1;
}
.footer__form form input:not([type=submit]):active, .footer__form form input:not([type=submit]):focus {
  border-color: #100A29;
}
.footer__form form .form__wrap {
  position: relative;
  width: 100%;
}
.footer__form form .form__wrap input[type=submit] {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  z-index: 1;
  transform: translateY(-50%);
  cursor: pointer;
}
.footer__form form .form__wrap:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  width: 24px;
  height: 24px;
  display: block;
  transform: translateY(-50%);
  z-index: 0;
  background: url(../images/send.svg) center center/cover no-repeat;
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer__socials a {
  max-width: 32px;
  max-height: 32px;
  width: 100%;
  height: 100%;
}
.footer__socials a svg {
  max-width: inherit;
  width: inherit;
}
.footer__socials a svg path {
  fill: #004166;
}
.footer__container {
  display: flex;
  gap: 40px;
  width: 62%;
  justify-content: space-between;
}
.footer__container nav {
  width: 68%;
}
.footer__container nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}
.footer__container nav ul li:not(.sub-menu li) {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: rgba(16, 10, 41, 0.5);
  width: calc(50% - 20px);
}
.footer__container nav ul .sub-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__container nav ul .sub-menu li {
  color: #100A29;
}
.footer__container nav ul .sub-menu li a {
  transition: 0.3s linear;
  font-weight: 400;
}
.footer__container nav ul .sub-menu li a:hover {
  color: #DC3815;
}
.footer__block {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.footer__block__title {
  color: rgba(16, 10, 41, 0.5);
}
.footer .footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 240px;
  margin-left: auto;
}
.footer .footer__contacts a {
  transition: 0.3s linear;
}
.footer .footer__contacts a:hover {
  color: #DC3815;
}
.footer__copy {
  border-top: 1px solid rgba(16, 10, 41, 0.04);
  background: #100A29;
}
.footer__copy__container {
  max-width: 1320px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
  position: relative;
  z-index: 0;
}
.footer__copy__container p {
  color: rgba(255, 255, 255, 0.75);
}
.footer__copy__container p span, .footer__copy__container p strong {
  color: #fff;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .footer__copy__container nav {
    width: 21%;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.footer__copy__container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.footer__copy__container ul li {
  width: -moz-max-content;
  width: max-content;
  color: #fff;
  text-decoration: underline;
  transition: 0.3s linear;
}
.footer__copy__container ul li:hover {
  color: #DC3815;
}

.vision {
  padding-bottom: 60px;
}
.vision__title {
  margin-bottom: 64px;
}
.vision__content {
  padding: 16px 0;
  margin-bottom: 64px;
}
.vision__content .simple {
  margin: 0 auto 24px auto;
}
.vision__img {
  max-width: 100%;
  width: 100%;
  max-height: 404px;
  height: 100%;
}
.vision__img img {
  max-width: inherit;
  max-height: inherit;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__title {
  margin-bottom: 64px;
}
.team__items {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.team__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: calc(33.3333333333% - 16px);
}
.team__item:hover img {
  transform: scale(1.1);
}
.team__item__img {
  aspect-ratio: 410/302;
  width: 100%;
  max-height: 302px;
  overflow: hidden;
}
.team__item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s linear;
}
.team__item__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.team__item__info span {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 144.444% */
  text-transform: capitalize;
  color: #100A29;
}

.partners {
  padding: 60px 0 120px 0;
}
.partners__title {
  text-align: center;
  margin-bottom: 64px;
}
.partners__title h2 {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 120% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
  color: #100A29;
  letter-spacing: 1px;
  margin-bottom: 24px;
}
.partners__title p {
  max-width: 616px;
  margin: 0 auto;
}
.partners__items {
  max-width: 938px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 0 auto;
}
.partners__item {
  width: calc(33.3333333333% - 16px);
  max-height: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners__item img {
  max-height: -moz-fit-content;
  max-height: fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
}

.contact {
  padding-bottom: 60px;
}
.contact__container {
  display: flex;
  gap: 80px;
}
.contact__form {
  width: 68%;
}
.contact__form h2 {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 136.364% */
  text-transform: capitalize;
  color: #100A29;
  margin-bottom: 16px;
}
.contact__form p {
  margin-bottom: 27px;
}
.contact__form label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #100A29;
  display: inline-block;
  margin-bottom: 8px;
}
.contact__form input[type=text],
.contact__form input[type=email],
.contact__form select,
.contact__form textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(16, 10, 41, 0.15);
  background: #fff;
  padding: 11px 15px;
  color: rgba(16, 10, 41, 0.5);
  outline: none;
}
.contact__form input[type=text]::-moz-placeholder, .contact__form input[type=email]::-moz-placeholder, .contact__form select::-moz-placeholder, .contact__form textarea::-moz-placeholder {
  color: rgba(16, 10, 41, 0.5);
  opacity: 1;
}
.contact__form input[type=text]::placeholder,
.contact__form input[type=email]::placeholder,
.contact__form select::placeholder,
.contact__form textarea::placeholder {
  color: rgba(16, 10, 41, 0.5);
  opacity: 1;
}
.contact__form input[type=text]:active, .contact__form input[type=text]:focus,
.contact__form input[type=email]:active,
.contact__form input[type=email]:focus,
.contact__form select:active,
.contact__form select:focus,
.contact__form textarea:active,
.contact__form textarea:focus {
  border: 1.5px solid #100A29;
}
.contact__form .form-row {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.contact__form select, .contact__form textarea {
  margin-bottom: 24px;
}
.contact__form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.contact__form .select__wrap {
  position: relative;
}
.contact__form .select__wrap:after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0%;
  right: 16px;
  transform: translateY(50%);
  background: url("../images/chevron-down 2.svg") center center/cover no-repeat;
}
.contact__form .form-row > div {
  flex: 1;
}
.contact__form textarea {
  resize: none;
  height: 200px;
}
.contact__details {
  width: 34%;
}
.contact__details .grey {
  margin-bottom: 28px;
}
.contact__details__title {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 136.364% */
  text-transform: capitalize;
  color: #100A29;
  margin-bottom: 16px;
}
.contact__details__call {
  margin-bottom: 64px;
}
.contact__details__call p {
  margin-bottom: 32px;
}
.contact__details__address a, .contact__details__address div:not([class]) {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-family: "Figtree", sans-serif;
}
.contact__details__address a {
  transition: 0.3s linear;
}
.contact__details__address a:hover {
  color: #FF532F;
}
.contact__details__address a:active {
  color: #D94728;
}

.faq {
  padding: 60px 0 120px;
}
.faq__container {
  max-width: 848px;
  margin: 0 auto;
}
.faq__title h2 {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 120% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
  color: #100A29;
  letter-spacing: 1px;
  margin-bottom: 64px;
  text-align: center;
}
.faq__search__wrap {
  margin-bottom: 24px;
}
.faq__search__wrap a {
  display: flex;
  gap: 8px;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-family: "Figtree", sans-serif;
  color: #100A29;
  transition: 0.3s linear;
}
.faq__search__wrap a:hover {
  color: #FF532F;
}
.faq__search__wrap a:hover svg path {
  fill: #FF532F;
}
.faq__search__wrap a svg {
  min-width: 24px;
  height: 24px;
}
.faq__search__wrap a svg path {
  transition: 0.3s linear;
}
.faq__item {
  padding: 23px;
  border-bottom: 1px solid rgba(16, 10, 41, 0.15);
  border-right: 1px solid rgba(16, 10, 41, 0.15);
  border-left: 1px solid rgba(16, 10, 41, 0.15);
}
.faq__item:nth-of-type(1) {
  border: 1px solid rgba(16, 10, 41, 0.15);
}
.faq__item:hover {
  background-color: rgba(16, 10, 41, 0.04);
}
.faq__item.active {
  background-color: rgba(16, 10, 41, 0.04);
}
.faq__item.active .faq-icon-wrapper svg {
  transform: rotate(180deg);
}
.faq__item__top {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s linear;
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 144.444% */
  text-transform: capitalize;
  color: #100A29;
}
.faq__item-bottom {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-family: "Figtree", sans-serif;
  color: #100A29;
}
.faq__item-bottom-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.faq__item-bottom-wrap a {
  text-decoration: underline;
  transition: 0.3s linear;
}
.faq__item-bottom-wrap a:hover {
  color: #FF532F;
}
.faq__item-bottom-wrap a:active {
  color: #D94728;
}
.faq-icon-wrapper {
  border-radius: 500px;
  background-color: transparent;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  position: relative;
  transition: 0.3s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq-icon-wrapper svg {
  width: 12px;
  height: 8px;
  transition: 0.3s linear;
}

.tooltip__wrap {
  display: flex;
  gap: 12px;
  padding: 12px 16px;
  background-color: #100A29;
  color: #fff;
  border-radius: 4px;
  max-width: 560px;
}
.tooltip__wrap svg {
  max-width: 24px;
  max-height: 24px;
  width: 100%;
  height: 100%;
  min-width: 24px;
  min-height: 24px;
}
.tooltip__wrap p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.75);
}
.tooltip__wrap div {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-family: "Figtree", sans-serif;
  color: inherit;
}

.security__title {
  margin-bottom: 64px;
}
.security__title h2 {
  margin-bottom: 12px;
}

.presentation {
  padding: 78px;
  border: 1px solid rgba(16, 10, 41, 0.15);
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.presentation h2 {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 120% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
  color: #100A29;
  text-align: center;
}
.presentation__item {
  display: flex;
  gap: 48px;
  padding: 40px 48px 40px 48px;
  border: 1px solid rgba(16, 10, 41, 0.15);
  max-height: 374px;
  overflow: hidden;
  justify-content: space-between;
  height: auto;
}
.presentation__item__content {
  width: calc(50% - 30px);
  overflow-y: auto;
}
.presentation__item__content div {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  text-transform: capitalize;
  margin-bottom: 24px;
}
.presentation__item__content p {
  color: rgba(16, 10, 41, 0.75);
}
.presentation__item__content p:not(:nth-last-of-type(1)) {
  margin-bottom: 26px;
}
.presentation__item__img {
  width: calc(50% - 23px);
  border-radius: 4px;
  height: calc(100% + 40px);
}
.presentation__item__img img {
  width: 100%;
  min-height: 294px;
  box-shadow: 0 4px 48px 0 rgba(16, 10, 41, 0.08);
}
.presentation__wrapper {
  margin-bottom: 16px;
}
.presentation-pagination.swiper-pagination-bullets {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  bottom: initial;
  top: initial;
  left: initial;
  line-height: normal;
}
.presentation-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(16, 10, 41, 0.04); /* fill */
  border: 1px solid rgba(16, 10, 41, 0.77);
}
.presentation-pagination.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #FF532F;
  border-color: #FF532F;
}
.presentation__slider {
  position: relative;
}

.presentation-button-next,
.presentation-button-prev,
.news-button-next,
.news-button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  max-width: 48px;
  max-height: 48px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 1;
}
.presentation-button-next.swiper-button-disabled,
.presentation-button-prev.swiper-button-disabled,
.news-button-next.swiper-button-disabled,
.news-button-prev.swiper-button-disabled {
  opacity: 0;
  cursor: none;
}

.presentation-button-next,
.presentation-button-prev {
  background-color: #00598C;
}

.news-button-next,
.news-button-prev {
  background-color: #100A29;
}

.presentation-button-next,
.news-button-next {
  right: 0;
  transform: translate(50%, -50%);
}

.presentation-button-prev,
.news-button-prev {
  left: 0;
  transform: translate(-50%, -50%);
}

.news__slider {
  position: relative;
}

.price {
  background-color: #fff;
}
.price__title {
  margin-bottom: 56px;
  align-items: baseline;
}
.price__title p {
  margin-top: 22px;
  width: calc(50% - 10px);
}
.price__title h2 {
  width: calc(50% - 10px);
}
.price__items {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.price__item {
  display: flex;
  flex-direction: column;
  background-color: rgba(16, 10, 41, 0.04);
  border-radius: 4px;
  gap: 64px;
  width: calc(50% - 8px);
  padding: 32px 24px;
  height: -moz-fit-content;
  height: fit-content;
}
.price__item h3 {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 136.364% */
  text-transform: capitalize;
  color: #100A29;
  margin-bottom: 8px;
}
.price__item__amount {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 2px;
  text-transform: capitalize;
  letter-spacing: -0.48px;
  color: #100A29;
  letter-spacing: -0.48px;
}
.price__item--monitoring .secondary-btn {
  padding: 12px 32px;
}
.price__wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.price__list {
  display: flex;
  gap: 3px;
  background-color: rgba(1, 35, 64, 0.05);
  border-radius: 6px;
  padding: 3px;
  max-width: 200px;
  width: 100%;
  justify-content: space-between;
}
.price__list__item {
  padding: 7px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(16, 10, 41, 0.75);
  font-family: "Figtree";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
  border-radius: 4px;
  transition: 0.3s linear;
  max-width: 95.5px;
  width: 100%;
  cursor: pointer;
}
.price__list__item.active {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(1, 35, 64, 0.15);
}
.price__list__item.active:hover {
  background-color: #fff;
  color: rgba(16, 10, 41, 0.75);
}
.price__list__item:hover {
  background-color: #00598C;
  color: #fff;
}
.price__content__wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.price__value {
  display: flex;
  gap: 8px;
  align-items: center;
}
.price__value__actual, .price__value__old {
  font-family: "Livvic";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 144.444% */
  text-transform: capitalize;
}
.price__value__old {
  text-decoration-line: line-through;
  text-transform: capitalize;
  color: rgba(16, 10, 41, 0.5);
}
.price__value__badge {
  border-radius: 4px;
  background: #D1FAE4;
  padding: 6px 12px;
  align-items: center;
  gap: 4px;
  color: #0E7D42;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  text-transform: capitalize;
}

.recent {
  padding-bottom: 60px;
  background-color: #fff;
}
.recent__title {
  margin-bottom: 40px;
}
.recent__title h2 {
  color: #100A29;
  font-family: "PlusJakartaSans";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.32px;
  text-transform: capitalize;
}
.recent__wrap {
  display: grid;
  gap: 24px 80px;
  grid-template-columns: 54.8% 39.1%;
}
.recent__wrap .news__item:nth-of-type(1) {
  grid-row: 1/span 3;
}
.recent__wrap .news__item:nth-of-type(1) .news__item__img {
  max-height: 400px;
}
.recent__wrap .news__item:nth-of-type(1) .news__title {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 136.364% */
  text-transform: capitalize;
  color: #100A29;
}
.recent__wrap .news__item:not(:nth-of-type(1)) {
  flex-direction: row-reverse;
}
.recent__wrap .news__item:not(:nth-of-type(1)) .news__item__img {
  width: 32%;
  max-width: 160px;
  aspect-ratio: 1;
  min-height: 160px;
}
.recent__wrap .news__item:not(:nth-of-type(1)) .news__item__info {
  width: 63%;
}

.news {
  padding: 60px 0 120px 0;
}
.news__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: auto;
}
.news__item__img {
  border: 1px solid rgba(16, 10, 41, 0.15);
  overflow: hidden;
  transition: 0.3s linear;
  width: 100%;
  max-height: 240px;
  height: 100%;
  min-height: 240px;
  flex-grow: 1;
}
.news__item__img:hover img {
  transform: scale(1.2);
}
.news__item__img img {
  transition: 0.3s linear;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news__item__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.news__cat {
  color: #100A29;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: capitalize;
}
.news__title {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 144.444% */
  text-transform: capitalize;
  color: #100A29;
  text-wrap-style: pretty;
  color: #100A29;
}
.news__container__title {
  margin-bottom: 40px;
}
.news__container__title h2 {
  color: #100A29;
  font-family: "PlusJakartaSans";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.32px;
  text-transform: capitalize;
}
.news__tabs {
  margin-bottom: 40px;
}
.news__tabs__list {
  display: flex;
  align-items: center;
  gap: 12px;
}
.news__tabs__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 23px;
  border-radius: 100px;
  border: 1px solid rgba(16, 10, 41, 0.25);
  background: #FFF;
  color: #100A29;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: capitalize;
  gap: 8px;
  transition: 0.3s linear;
}
.news__tabs__item.active {
  padding: 11px 23px 11px 14px;
  border: 1.5px solid #00598C;
}
.news__tabs__item.active:before {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../images/checkmark1.svg) center center/cover no-repeat;
}
.news__tabs__item:not(.active) {
  cursor: pointer;
}
.news__tabs__item:not(.active):hover {
  background-color: #100A29;
  color: #fff;
}
.news__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 24px;
  margin-bottom: 40px;
}
.news__pagination {
  display: flex;
  gap: 32px;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  padding: 12px 0;
}
.news__pagination .dropdown-list {
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.news__pagination .dropdown-list ul li a {
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.news__pagination .dropdown-toggle span {
  text-decoration: underline;
}
.news__pagination .dropdown:hover .dropdown-list {
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.news__pagination__count, .news__pagination__info {
  display: flex;
  gap: 16px;
}
.news__pagination__arrows {
  display: flex;
  gap: 8px;
}
.news__pagination__arrows span {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.news__pagination__arrows span:disabled svg path {
  fill: #100A29;
  fill-opacity: 0.5;
}
.news__pagination__arrows span svg {
  width: 100%;
  height: 100%;
}
.news__pagination__arrows span svg path {
  fill: #100A29;
  fill-opacity: 1;
}

.article {
  max-width: 1240px;
  margin: 0 auto;
}
.article__title__wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 560px;
  margin: 0 auto;
}
.article__title__wrap .article-back {
  max-height: 24px;
}
.article__title__wrap h1 {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 120% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
  color: #100A29;
  letter-spacing: -0.4px;
}
.article__title__info {
  display: flex;
  align-items: center;
  gap: 16px;
}
.article__socials {
  display: flex;
  align-items: center;
  gap: 16px;
  width: -moz-fit-content;
  width: fit-content;
}
.article__socials a {
  min-height: 32px;
  min-width: 32px;
  width: 100%;
  height: 100%;
  max-height: 32px;
  max-width: 32px;
  aspect-ratio: 1/1;
}
.article__wrap .article__socials {
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 40px;
  height: -moz-fit-content;
  height: fit-content;
}
.article__img {
  max-height: 300px;
  height: 100%;
}
.article__img img {
  width: 100%;
  height: 100%;
  max-height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.article__wrap {
  display: flex;
  padding: 40px 0 60px 0;
  position: relative;
}
.article__content {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #100A29;
}
.article__content p:not(:nth-last-of-type(1)) {
  margin-bottom: 22px;
}
.article__content p:has(+ h2, h3, h4, h5) {
  margin-bottom: 40px;
}
.article__content ul {
  margin-bottom: 40px;
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 23px;
}
.article__content ul li {
  position: relative;
}
.article__content h2 {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 144.444% */
  text-transform: capitalize;
  color: #100A29;
  margin-bottom: 24px;
}

.related {
  padding: 60px 0 120px 0;
}
.related__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.related__title h2 {
  color: #100A29;
  font-family: "PlusJakartaSans";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.32px;
  text-transform: capitalize;
  letter-spacing: -0.32px;
}/*# sourceMappingURL=style.css.map */